Import the necessary libraries for working with Delta Sharing and Pandas.

In [8]:
import delta_sharing
import pandas as pd

Specify the path of Configuration File

In [9]:
profilePath = "/home/knoldus/Desktop/External Recipient/config.share"

Listing Out All the Shared Data

In [19]:
client = delta_sharing.SharingClient(profilePath)
sharedData = client.list_all_tables()

sharedData_df = pd.DataFrame(sharedData)

sharedData_df

                    name                   share           schema
0  popular_products_data  checkout_data_products    data_products
1    e-com_shipment_data  checkout_data_products    data_products
2     checkout_data_view           checkout_data  checkout_schema
3   checkout_orders_data           checkout_data  checkout_schema

Accessing E-Commerce Shipment Data

In [5]:
ecom_shipment_data = delta_sharing.load_as_pandas(f"{profilePath}#checkout_data_products.data_products.e-com_shipment_data")
ecom_shipment_df = pd.DataFrame(ecom_shipment_data)

ecom_shipment_df

,streetaddress,city,state,country,dateOfOrder,count
0,221B Baker Street London,LONDON,LONDON,United Kingdom,10-09-2023,1
1,Avinguda Paral·lel 432,Barcelona,Catalonia,Spain,10-09-2023,1
2,221B Baker Street London,LONDON,LONDON,United Kingdom,06-09-2023,1
3,1600 Amphitheatre Parkway,Frankfurt,Frankfurt,Germany,04-09-2023,1
4,1600 Amphitheatre Parkway,Delhi,Delhi,India,05-09-2023,1
...,...,...,...,...,...,...
88,1600 Amphitheatre Parkway,Tokyo,Tokyo,Japan,29-08-2023,1
89,Avinguda Tibidabo 234,Barcelona,Catalonia,Spain,16-08-2023,1
90,1600 Amphitheatre Parkway,Mountain View,CA,United States,06-09-2023,4
91,1600 Amphitheatre Parkway,Warsaw,Warsaw,Poland,28-08-2023,1
92,1600 Amphitheatre Parkway,Paris,Paris,France,03-09-2023,1

Accessing Popular Products Data

In [6]:
popular_products_data = delta_sharing.load_as_pandas(f"{profilePath}#checkout_data_products.data_products.popular_products_data")
popular_products_df = pd.DataFrame(popular_products_data)

popular_products_df

,country,state,city,productid,ProductName,total_quantity
0,United States,CA,Mountain View,9SIQT8TOJO,Salt & Pepper Shaker,98
1,United States,CA,Mountain View,2ZYFJ3GM2N,Candle Holder,96
2,United States,CA,Mountain View,LS4PSXUNUM,Sunglasses,93
3,United States,CA,Mountain View,0PUK6V6EV0,Watch,91
4,United States,CA,Mountain View,L9ECAV7KIM,Loafers,80
5,United States,CA,Mountain View,6E92ZMYYFZ,Mug,73
6,United States,CA,Mountain View,66VCHSJNUP,Bamboo Glass Jar,71
7,United States,CA,Mountain View,OLJCESPC7Z,Tank Top,53
8,United States,CA,Mountain View,1YMWWN1N4O,Hair Dryer,49
9,Spain,Catalonia,Barcelona,9SIQT8TOJO,Salt & Pepper Shaker,16
10,Spain,Catalonia,Barcelona,LS4PSXUNUM,Sunglasses,14
11,Spain,Catalonia,Barcelona,66VCHSJNUP,Bamboo Glass Jar,11
12,Spain,Catalonia,Barcelona,OLJCESPC7Z,Tank Top,9
13,Spain,Catalonia,Barcelona,2ZYFJ3GM2N,Candle Holder,7
14,Spain,Catalonia,Barcelona,6E92ZMYYFZ,Mug,6
15,Japan,Tokyo,Tokyo,LS4PSXUNUM,Sunglasses,5
16,Spain,Catalonia,Barcelona,1YMWWN1N4O,Hair Dryer,5
17,Germany,Frankfurt,Frankfurt,LS4PSXUNUM,Sunglasses,4
18,Spain,Catalonia,Barcelona,L9ECAV7KIM,Loafers,4
19,France,Paris,Paris,L9ECAV7KIM,Loafers,4
20,India,Delhi,Delhi,0PUK6V6EV0,Watch,4
21,Italy,Lazio,Rome,9SIQT8TOJO,Salt & Pepper Shaker,4
22,France,Paris,Paris,9SIQT8TOJO,Salt & Pepper Shaker,4
23,India,Karnataka,Bangalore,66VCHSJNUP,Bamboo Glass Jar,4
24,India,Tamil Nadu,Chennai,6E92ZMYYFZ,Mug,4
25,India,Maharashtra,Mumbai,LS4PSXUNUM,Sunglasses,3
26,Poland,Warsaw,Warsaw,L9ECAV7KIM,Loafers,2
27,Spain,Catalonia,Barcelona,0PUK6V6EV0,Watch,2
28,Germany,Frankfurt,Frankfurt,1YMWWN1N4O,Hair Dryer,2
29,Italy,Lazio,Rome,66VCHSJNUP,Bamboo Glass Jar,2
30,India,Tamil Nadu,Chennai,OLJCESPC7Z,Tank Top,1
31,Italy,Lazio,Rome,OLJCESPC7Z,Tank Top,1
32,India,Karnataka,Bangalore,OLJCESPC7Z,Tank Top,1
33,United States,CA,LONDON,OLJCESPC7Z,Tank Top,1
34,Japan,Tokya,Tokyo,OLJCESPC7Z,Tank Top,1
35,United Kingdom,LONDON,LONDON,OLJCESPC7Z,Tank Top,1
36,United Kingdom,LONDON,LONDON,LS4PSXUNUM,Sunglasses,1
37,India,Delhi,Delhi,OLJCESPC7Z,Tank Top,1
38,United Kingdom,LONDON,LONDON,L9ECAV7KIM,Loafers,1
39,Japan,Tokyo,Tokyo,0PUK6V6EV0,Watch,1
40,India,Karnataka,Bangalore,0PUK6V6EV0,Watch,1
41,India,Maharashtra,Mumbai,2ZYFJ3GM2N,Candle Holder,1
42,India,Tamil Nadu,Chennai,2ZYFJ3GM2N,Candle Holder,1
43,United Kingdom,LONDON,LONDON,1YMWWN1N4O,Hair Dryer,1
44,United States,CA,R,2ZYFJ3GM2N,Candle Holder,1
45,Poland,Warsaw,Warsaw,9SIQT8TOJO,Salt & Pepper Shaker,1
46,United Kingdom,LONDON,LONDON,66VCHSJNUP,Bamboo Glass Jar,1
47,India,Delhi,Delhi,9SIQT8TOJO,Salt & Pepper Shaker,1
48,Germany,Frankfurt,Frankfurt,66VCHSJNUP,Bamboo Glass Jar,1
49,Japan,Tokyo,Tokyo,66VCHSJNUP,Bamboo Glass Jar,1
50,United Kingdom,LONDON,LONDON,9SIQT8TOJO,Salt & Pepper Shaker,1
51,Germany,Frankfurt,Frankfurt,6E92ZMYYFZ,Mug,1